@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

body {
  background: #202020;
  color: hsl(200, 100%, 90%);
  width: 80%;
  padding: 5%;
  margin: 0 auto;
  font-size: 18px;
}

.new-item-form, 
.form-row,
.header,
.list,
.list li label,
.list li label::before {
  display: flex;
}

.new-item-form {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
}

.form-row {
  flex-direction: column;
  gap: 0.1rem;
}

.task-dueDate {
  width : 100px;
}

.task-title {
  color: #38a3a5;
  padding-left: 5px;
}

.btn {
  margin: auto 0;
  width: 100px;
  background: #a0c9d3;
  padding: 0.5em 1em;
  border-radius: 20px;
  cursor: pointer;
  color: black;
  border: none;
}

.btn:hover,
.btn:focus-visible {
  background: #f6f7f8;
}

.btn.btn-danger {
  background: #38a3a5;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
  background: #9ae3e4;
}

.new-item-form input {
  outline: none;
  background: hsl(180, 2%, 12%);
  border-top: #202020;
  border-left: #202020;
  border-right: #202020;
  border-bottom: #a0c9d3 1px solid;
  padding: 0.5em 1em;
  color: hsl(206, 6%, 75%);
}

.header {
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li:has(input:checked) label {
  color: hsl(200, 20%, 40%);
}

.list {
  flex-direction: column;
}

.list li {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 0.5fr 0.5fr;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 15px;
  border-bottom: #38a3a5 1px solid;
}

.list li label {
  cursor: pointer;
  align-items: center;
}

.list li:has(input:focus-visible) label {
  outline: 1px solid hsl(200, 100%, 50%);
}

.list li input {
  outline: none;
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
}

.list li label::before {
  content: "";
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  background: hsl(200, 100%, 90%);
  border-radius: 0.25em;
  justify-content: center;
  align-items: center;
}

.list li label:hover::before {
  background: hsl(200, 100%, 80%);
}

.list li input:checked + label::before {
  content: "✔";
  background: hsl(206, 19%, 93%);
  color: black;
  font-size: 0.75rem;
  font-weight: bold;
}

 /* responsive for smaller screens__________________________________________________________________________ */
 @media screen and (max-width: 1568px) {
  body {
    width: 100%;
  }
  }

  /* responsive for smaller screens__________________________________________________________________________ */
  @media screen and (max-width: 1068px) {
    .list li {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 10px;
    }

    .task-title, p {
      margin: 0 auto 5px 5px;
    }

    .btn.btn-danger {
      margin: 0px 0px 5px auto;
    }
  }
  /* responsive for smartphones__________________________________________________________________________ */
  @media screen and (max-width: 468px) {
    body {
      padding: 1rem;
      font-size: 14px;
    }

    .header {
      margin-top: 2rem;
    }

    .form-btn {
      margin-top: 25px;
    }
    }